<!DOCTYPE HTML>
<html>
<head>
	<title>Newchamps</title>
	<link rel="stylesheet" type="text/css" href="main.css" >

	<script src="angular.min.js"></script>
	

	<style type="text/css">
		.header{
			margin-top: 1px; background-color: #ECECEC; color:darkblue;
		}
		.img-responsive{
			height: 60px;
		}
		.left-menu{

			float: left; width: 20%; height: 550px; text-align: center; background: #B0E0E6; border-right: 1px solid black;
		}
		.menu{
			padding-top: 30px; 
		}	
		.menu a{

			text-decoration: none;
		}
		.main-view{

			 background: #99FFFF;  height: 550px
		}
		ul.main-menu > li.menu-item-has-children > a:after {
    		content: '';
		}
		.bodystyle{

			color: #8e8e8e; font-size: 14px; line-height: 1.6em; font-family: 'Open Sans', sans-serif;
		}
		</style>
		<script type="text/javascript">
			function SearchOn(){

				document.getElementById('searchxyz').style.display="block";
			}
		</script>
	
</head>

		<!-- <div class="header"></div> -->

<body ng-app="mainApp" class="bodystyle">

<div align="right" style="margin: 5px">
		Search <a href="javascript:void(0);" onclick="SearchOn();"><input type="text" ng-model="searchBox" style="width:150px;"></a>
	
</div>	
	<nav id="navigation" itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope" role="navigation" class="dd-effect-slide ">
		<div class="navigation-inner">
			<div class="inner">
				<ul  class="main-menu mom_visibility_desktop">
					<li class="mom_default_menu_item"><a href="javascript:void(0);"><img src="images/logo1.png" style="height: 30px;" ></a>
						<ul class="sub-menu " style="width:1000px; height: auto; font-size: 20px;">
							
							<li style="margin:10px 20px; margin-left: 40px;  float: left;">

								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Services</a>
								</div>
							</li>	
							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Application</a>
								</div>
							</li>
							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Software</a>
								</div>
							</li>
							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Products</a>
								</div>
							</li>

							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Themes</a>
								</div>
							</li>
							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Logics</a>
								</div>
							</li>
							<li style="margin:10px 20px; float: left;">
								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Tutorials</a>
								</div>
							</li>

					</ul>
				</li>
		
				<li class="mom_default_menu_item"><a href="javascript:void(0);">Applications</a>
					<ul class="sub-menu ">
						<li class="mom_default_menu_item"><a href="javascript:void(0);">Core Applications</a>
						
							<ul class="sub-menu">
								<li class=" menu-item-98"><a href="">C</a></li>
								<li class="menu-item-97"><a href="">C++</a></li>
								<li class="menu-item-96"><a href="">Java</a></li>
								<li class="menu-item-95"><a href="">PHP</a></li>
							</ul>
						</li>
						<li class="mom_default_menu_item"><a href="avascript:void(0);"> Designing Applications</a>
						<ul class="sub-menu">
							
							<li class="mom_default_menu_item"><a href="javascript:void(0);">HTML</a></li>

							<li class="mom_default_menu_item"><a href="javascript:void(0);">CSS</a></li>

							<li class="mom_default_menu_item"><a href="javascript:void(0);">JAVASCRIPT</a></li>

							<li class="mom_default_menu_item"><a href="javascript:void(0);">AJAX</a></li>

							<li class="mom_default_menu_item"><a href="javascript:void(0);">JQUERY</a></li>

							<li class="mom_default_menu_item"><a href="javascript:void(0);">ANGULERJS</a></li>

					</ul>
						</li>

						</ul>	
					</li>
					<li class="mom_default_menu_item"><a href="javascript:void(0);">Services</a></li>
					<li class="mom_default_menu_item"><a href="javascript:void(0);">
					Products
					</a></li>
				
					<li class="mom_default_menu_item"><a href="javascript:void(0);">Our initiatives</a>
						<ul class="sub-menu " style="width:650px; height: auto; font-size: 20px;">
							
							<li style="margin:10px 20px; margin-left: 40px;  float: left;">

								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Vizcreations</a>
								</div>
							</li>	
							<li style="margin:10px 20px; margin-left: 40px;  float: left;">

								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">Only Super Market</a>
								</div>
							</li>
							<li style="margin:10px 20px; margin-left: 40px;  float: left;">

								<a href="index.html"><img src="images/logo2.png" style="height: 30px;"/></a>
								<div align="center"><a href="index.html">TBS</a>
								</div>
							</li>
						</ul>

					</li>
					<li class="mom_default_menu_item"><a href="javascript:void(0);">Neeti Shastra in Hindi</a>
						<ul class="sub-menu ">
						<li class="mom_default_menu_item"><a href="chanakya/ch1.PDF">Chanakya Neeti Chapter 1</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch2.PDF">Chanakya Neeti Chapter 2</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch3.PDF">Chanakya Neeti Chapter 3</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch4.PDF">Chanakya Neeti Chapter 4</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch5.PDF">Chanakya Neeti Chapter 5</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch6.PDF">Chanakya Neeti Chapter 6</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch7.PDF">Chanakya Neeti Chapter 7</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch8.PDF">Chanakya Neeti Chapter 8</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch9.PDF">Chanakya Neeti Chapter 9</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch10.PDF">Chanakya Neeti Chapter 10</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch11.PDF">Chanakya Neeti Chapter 11</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch12.PDF">Chanakya Neeti Chapter 12</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch13.PDF">Chanakya Neeti Chapter 13</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch14.PDF">Chanakya Neeti Chapter 14</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch15.PDF">Chanakya Neeti Chapter 15</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch16.PDF">Chanakya Neeti Chapter 16</a>
						</li>
						<li class="mom_default_menu_item"><a href="chanakya/ch17.PDF">Chanakya Neeti Chapter 17</a>
						</li>
						</ul>
					</li>
					
					<li class="mom_default_menu_item"><a href="javascript:void(0);">About us</a></li>
					<li class="mom_default_menu_item"><a href="javascript:void(0);">
					Contact
					</a></li>
					<li class="mom_default_menu_item"><a href="javascript:void(0);">
					Carriers
					</a></li>
					
				
				


				</ul>				
			</div>			
		</div>
	</nav>
					

    <div class="nav-shaddow"></div>
            
             <div style="margin-top:-17px; margin-bottom:20px;"></div>
                   
            <div class="inner">
		                        
		    <div class="breaking-news">
		    <div class="the_ticker" >
		    <div class="bn-title"><span>NEWS</span></div>
		    <div class="news-ticker " data-timeout="5000">
		        <ul>
		            <li><i class="fa-icon-double-angle-right"></i><a href=""> Update java</a></li>
		            <li><i class="fa-icon-double-angle-right"></i><a href="">version 1.8</a></li>
		        </ul>
		    </div> 
		    </div>
		        <span class="current_time">    GMT+2 12:27      </span>
		    </div>
		    </div>

		<div class="left-menu"> 

			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
			<div class="menu"><a href="javascript:void(0)">	Home</a> </div>
		</div>
		<div class="main-view">
				<div ng-controller="people"  style="float: left; margin:20px; display: none;" id="searchxyz">
					<ul>
						<!-- <h2>Your Result</h2> -->
						<li ng-repeat="person in persons | filter:searchBox" style="list-style: none;">
							<a href="{{person.link}}">{{ person.Name + ' ' + person.Age +' '+ person.Application }}</a>
						</li>
					</ul>
				</div>	
			

			<div style=" float: left; padding:20px;"> hello every one
	        	<div style=" margin-top: 1px;">
	        		<a href="index.html"><img src="images/logo.png"></a>
	        	</div>
	        	<div style=" margin-top: 1px;">
	        		<a href="index.html"><img src="images/hand.jpg" width="100%"></a>
	        	</div>
			

			</div>


			</div>
		</div>

	<script src="controller1.js"></script>	
</body>

</html>